/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Righteous&family=Staatliches&display=swap');

/* GLOBAL STYLES */

:root {
    --font-primary: 'Righteous', serif;
    --font-secondary: 'Staatliches', sans-serif;
    --font-code: 'Josefin Sans', monospace;
    --bg-color: #041811;
    --bg-color-transparent: #2e1d0080;
    --font-color: #ffffff;
    --btn-bg-color: #ffffff;
    --accent-color: #00a88c;
    --header-shadow: var(--accent-color) 0px 0px 5px;
    --card-shadow: var(--accent-color) 0px 0px 20px;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background-color: var(--bg-color);
    display: flex;
    flex-flow: column;
    color: var(--font-color);
    font-family: var(--font-primary);
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--btn-bg-color);
    color: var(--accent-color);
    font-family: var(--font-secondary);
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 0 0 var(--accent-color);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: none;
  }

  .btn:hover {
    box-shadow: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0rem 1rem;
    justify-content: center;
    overflow: hidden;
    text-align: center;
  }
  
  /* CONSTANT */

  .constant {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .constant h1 {
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-primary);
    text-shadow: rgba(36, 207, 122, 0.982);
    color: #00deb9;
  }

  .constant p {
    margin: 2 auto 0;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-family: var(--font-secondary);
  }

  

  /* EXTRA */

  .extra{
    align-items: top;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 35vw;
    transform: translateY(10vh);
    transition: all 0.5s ease-in-out;
    margin: 3rem 0;
    font-size: 1.1rem;
    font-family: var(--font-primary);
    line-height: 1.8;
  }

  .extra h1{
    text-shadow: 2px 2px 0 var(--accent-color);
    font-style: italic;
    margin: 2rem 3;
    font-size: 3.5rem;
  }
  
  .extra p{
    margin: 3rem 0;
    font-size: 1.1rem;
    font-family: var(--font-secondary);
    line-height: 1.8;
  }
  
  .extra a{
    text-decoration: none;
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* BORDER */
 .border {
  width: 1100px;
  height: 480px;
  display: flex;   
  background: rgb(0, 2, 2);
}

.border .videos {
  width: 20%;
  padding: 10px 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.border .videos video{
width: 95%;
height: 100px;
margin: 10px;
object-fit: cover;
cursor: pointer;
transition: 0.2s;
}

.border .videos video:nth-child(1){
margin-top: 0;
}

.border .videos video:hover,
.border .videos .active{
transform: scale(1.06);
border: 3px solid rgb(31, 255, 169);
}

.border .main-video{
width: 80%;
padding: 10px;
}

.border .main-video video{
width: 100%;
height: 100%;
object-fit: cover;
border: 3px solid rgb(145, 248, 222);
}
